# Python caches
__pycache__/
*.py[cod]

# Virtual Environment
.venv/
venv/
env/

# RealSense Data (Large files)
*.bag
data/

# Generated Markers (Reproducible, optional to ignore)
markers/
logs/

# OS specific
.DS_Store
Thumbs.db